
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>bookStore</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">

</head>
<body style="background-color: lightgray;">

<div class="content">
    <nav class="navbar navbar-expand-sm bg-secondary navbar-dark w-100">
        <div class="container-fluid">

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">

                    <li class="nav-item dropdown">
                        <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            Categories
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li>
                                <a class="dropdown-item " th:href="@{/products}">All products</a>
                            </li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li th:each="category : ${categories}">
                                <a class="dropdown-item" th:href="@{/products/category/{id}(id=${category.id})}"
                                   th:text="${category.categoryName}"></a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <form class="d-flex" action="/products/search" method="get">
                            <label>
                                <input
                                        class="form-control"
                                        type="text"
                                        placeholder="Search..."
                                        name="name"
                                        th:value="${searchQuery != null ? searchQuery : ''}"
                                        style="width: 600px;">
                            </label>
                            <button class="btn btn-outline-light" type="submit">Search</button>
                        </form>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" th:href="@{/products/create}">Add new product</a>
                    </li>
                </ul>

                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link active" th:href="@{/register}">Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/login}">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" th:href="@{/cart}">
                            <i class="bi bi-cart"></i> Cart
                            <!-- Display the number of items in the cart -->
                            <span class="badge bg-dark" th:text="${cartItemCount > 0 ? cartItemCount : ''}"></span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>

    <div class="main-content page-m">
        <div class="section-content section-content-p30">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-8 offset-md-2">
                <form th:action="@{/checkout}" th:object="${checkoutForm}" method="post">
                    <div class="form-area">

                        <h3>Customer</h3>

                        <div class="row mb-3">
                            <div class="col-md-2"><label for="firstName">First Name</label></div>
                            <div class="col-md-10">
                                <input id="firstName" type="text" th:field="*{customer.firstName}" class="form-control" style="width: 80%;"/>
<!--                                <div th:if="${#fields.hasErrors('customer.firstName')}" class="alert alert-danger mt-1">-->
<!--                                    <div th:each="err : ${#fields.errors('customer.firstName')}">-->
<!--                                        <p th:text="${err}"></p>-->
<!--                                    </div>-->
<!--                                </div>-->
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-md-2"><label for="lastName">Last Name</label></div>
                            <div class="col-md-10">
                                <input id="lastName" type="text" th:field="*{customer.lastName}" class="form-control" style="width: 80%;"/>
<!--                                <div th:if="${#fields.hasErrors('customer.lastName')}" class="alert alert-danger mt-1">-->
<!--                                    <div th:each="err : ${#fields.errors('customer.lastName')}">-->
<!--                                        <p th:text="${err}"></p>-->
<!--                                    </div>-->
<!--                                </div>-->
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-md-2">
                                <label for="email">Email</label>
                            </div>
                            <div class="col-md-10">
                                <input id="email" type="text" th:field="*{customer.email}"
                                       class="form-control custom-input-width" style="width: 80%;"/>
<!--                                <div th:if="${#fields.hasErrors('customer.email')}" class="alert alert-danger mt-1">-->
<!--                                    <div th:each="err : ${#fields.errors('customer.email')}">-->
<!--                                        <p th:text="${err}"></p>-->
<!--                                    </div>-->
<!--                                </div>-->
                            </div>
                        </div>


                        <br>

                        <h3>Shipping Address</h3>

                        <div class="row mb-3">
                            <div class="col-md-2">
                                <label for="country">Country</label>
                            </div>
                            <div class="col-md-10">
                                <select th:field="*{shippingAddress.country}" class="form-select" style="width: 80%;">
                                    <option value="" selected>Select a country</option>
                                    <th:block th:each="country : ${countries}">
                                        <option th:value="${country.id}" th:text="${country.name}"></option>
                                    </th:block>
                                </select>

                            </div>
                        </div>


                        <div class="row mb-3">
                            <div class="col-md-2">
                                <label for="state">State</label>
                            </div>
                            <div class="col-md-10">
                                <select th:field="*{shippingAddress.state}" class="form-select" style="width: 80%;"
                                        id="state">
                                    <option value="">Select a state</option>
                                    <option th:each="state : ${shippingStates}"
                                            th:value="${state.id}"
                                            th:text="${state.name}"></option>
                                </select>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-md-2"><label for="street">Street</label></div>
                            <div class="col-md-10">
                                <input id="street" type="text" th:field="*{shippingAddress.street}" class="form-control" style="width: 80%;"/>
                                <div th:if="${#fields.hasErrors('shippingAddress.street')}" class="alert alert-danger mt-1">
                                    <div th:each="err : ${#fields.errors('shippingAddress.street')}">
                                        <p th:text="${err}"></p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-md-2"><label for="city">City</label></div>
                            <div class="col-md-10">
                                <input id="city" type="text" th:field="*{shippingAddress.city}" class="form-control" style="width: 80%;"/>
                                <div th:if="${#fields.hasErrors('shippingAddress.city')}" class="alert alert-danger mt-1">
                                    <div th:each="err : ${#fields.errors('shippingAddress.city')}">
                                        <p th:text="${err}"></p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-md-2"><label for="zipCode">Zip Code</label></div>
                            <div class="col-md-10">
                                <input id="zipCode" type="text" th:field="*{shippingAddress.zipCode}" class="form-control" style="width: 80%;"/>
                                <div th:if="${#fields.hasErrors('shippingAddress.zipCode')}" class="alert alert-danger mt-1">
                                    <div th:each="err : ${#fields.errors('shippingAddress.zipCode')}">
                                        <p th:text="${err}"></p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <br>

                        <div class="form-check mb-3">
                            <input type="checkbox" class="form-check-input" id="sameAsShipping" onclick="copyShippingAddress()">
                            <label class="form-check-label" for="sameAsShipping">Same as Shipping Address</label>
                        </div>
                        <br>
                        <h3>Billing Address</h3>

                        <div class="row mb-3">
                            <div class="col-md-2">
                                <label for="billingCountry">Country</label>
                            </div>
                            <div class="col-md-10">
                                <select th:field="*{billingAddress.country}" class="form-select" style="width: 80%;"
                                        id="billingCountry" th:action="@{/checkout}" onchange="this.form.submit()">
                                    <option value="">Select a country</option>
                                    <option th:each="country : ${countries}"
                                            th:value="${country.code}"
                                            th:text="${country.name + ' ('+ country.code +')'}"></option>
                                </select>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-md-2">
                                <label for="billingState">State</label>
                            </div>
                            <div class="col-md-10">
                                <select th:field="*{billingAddress.state}" class="form-select" style="width: 80%;"
                                        id="billingState">
                                    <option value="">Select a state</option>
                                    <option th:each="state : ${billingStates}"
                                            th:value="${state.id}"
                                            th:text="${state.name}"></option>
                                </select>
                            </div>
                        </div>

                        <!-- Repeat similar blocks for billing street, city, and zip code -->
                        <div class="row mb-3">
                            <div class="col-md-2"><label for="billingStreet">Street</label></div>
                            <div class="col-md-10">
                                <input id="billingStreet" type="text" th:field="*{billingAddress.street}" class="form-control" style="width: 80%;"/>
                                <!-- Error handling for billing street -->
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-md-2"><label for="billingCity">City</label></div>
                            <div class="col-md-10">
                                <input id="billingCity" type="text" th:field="*{billingAddress.city}" class="form-control" style="width: 80%;"/>
                                <!-- Error handling for billing city -->
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-md-2"><label for="billingZipCode">Zip Code</label></div>
                            <div class="col-md-10">
                                <input id="billingZipCode" type="text" th:field="*{billingAddress.zipCode}" class="form-control" style="width: 80%;"/>
                                <!-- Error handling for billing zipCode -->
                            </div>
                        </div>

                        <br>

                        <h3>Credit Card Details</h3>

                        <div class="row mb-3">
                            <div class="col-md-2">
                                <label for="cardType">Card Type</label>
                            </div>
                            <div class="col-md-10">
                                <select class="form-select" style="width: 80%;"
                                        id="cardType">
                                    <option value="">VISA</option>
                                    <option value="">Mastercard</option>

                                </select>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-md-2">
                                <label for="nameOnCard">Name On Card</label>
                            </div>
                            <div class="col-md-10">
                                <input id="nameOnCard" type="text" name="nameOnCard" class="form-control custom-input-width" style="width: 80%;" placeholder="John Doe" required/>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-md-2">
                                <label for="cardNumber">Card Number</label>
                            </div>
                            <div class="col-md-10">
                                <input id="cardNumber" type="text" name="cardNumber" class="form-control custom-input-width" style="width: 80%;" placeholder="1234 5678 9012 3456" required/>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-md-2">
                                <label for="securityCode">Security Code</label>
                            </div>
                            <div class="col-md-10">
                                <input id="securityCode" type="text" name="securityCode" class="form-control custom-input-width" style="width: 80%;" placeholder="123" required/>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-md-2">
                                <label for="expirationMonth">Expiration Month</label>
                            </div>
                            <div class="col-md-10">
                                <select class="form-select" style="width: 80%;"
                                        id="expirationMonth">
                                    <option value="">Expiration Month(to be done)</option>

                                </select>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-md-2">
                                <label for="expirationYear">Expiration Year</label>
                            </div>
                            <div class="col-md-10">
                                <select class="form-select" style="width: 80%;"
                                        id="expirationYear">
                                    <option value="">Expiration Year(to be done)</option>

                                </select>
                            </div>
                        </div>

                        <br>

                        <h3>Review Your Order</h3>
                        <div class="row mb-3">
                            <div class="col-md-2">
                                <p>Total Quantity: <span th:text="${totalQuantity}"></span></p>
                                <p>Shipping: FREE</p>
                                <p>Total Price: <span th:text="${#numbers.formatDecimal(totalPrice, 1, 'POINT', 2, 'COMMA')} + ' €'"></span></p>
                            </div>
                        </div>

                        <br>
                        <div class="text-center">
                            <button type="submit" class="btn btn-info">Purchase</button>
                        </div>

                    </div>
                </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer class="footer bg-secondary text-white text-center py-3 mt-4">
    <div class="container d-flex justify-content-center">
        <p class="mb-0"><a href="#" class="text-white mx-2">About Us</a></p>
        <p class="mb-0"><a href="#" class="text-white mx-2">Contact Us</a></p>
        <p class="mb-0"><a href="#" class="text-white mx-2">Help</a></p>
        <p class="mb-0 mx-2">&copy; 2024 YourCompanyName</p>
    </div>
</footer>

</body>
</html>
